challenge-1/java-calculator-copilot/target/classes/struts.xml
challenge-1/java-calculator-copilot/target/classes/example/action/ArithmeticAction.class
challenge-1/java-calculator-copilot/target/test-classes/.DS_Store
challenge-1/java-calculator-copilot/target/test-classes/example/ArithmeticIntegrationTest.class
challenge-1/java-calculator-copilot/target/test-classes/example/ArithmeticIntegrationTest$Addition.class
challenge-1/java-calculator-copilot/target/test-classes/example/ArithmeticIntegrationTest$Division.class
challenge-1/java-calculator-copilot/target/test-classes/example/ArithmeticIntegrationTest$Multiplication.class
challenge-1/java-calculator-copilot/target/test-classes/example/ArithmeticIntegrationTest$Validation.class
challenge-1/java-calculator-copilot/target/test-classes/example/action/ArithmeticActionTest.class
challenge-4/Highlight-Surface-Pro-AI-11Ed-Sapphire-MC001-3000x1682_VP5-1920x600.avif
